<!DOCTYPE html>
<html>
  <head>
    <% if logged_in? %>
    <title>Heirbnb</title>
    <% else %>
    <title>Vacation Rentals, Homes, Experiences & Places - Heirbnb</title>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U&libraries=places" %>
    <%= favicon_link_tag asset_path('heirbnb.ico') %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
      window.hero = "<%= image_url('hero.svg') %>";
      window.search_icon = "<%= image_url('search_icon.svg') %>";
      window.footer_icon = "<%= image_url('footer_icon.svg') %>";
    </script>
    <%= yield %>
  </body>
</html>
