<!DOCTYPE html>
<html>
  <head>
    <% if logged_in? %>
    <title>Heirbnb</title>
    <% else %>
    <title>Vacation Rentals, Homes, Experiences & Places - Heirbnb</title>
    <% end %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_API_KEY']}&libraries=places"%>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('heirbnb10.ico') %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>
    <script type="text/javascript">
      window.hero = "<%= image_url('hero.svg') %>";
      window.search_icon = "<%= image_url('search_icon.svg') %>";
      window.footer_icon = "<%= image_url('footer_icon.svg') %>";
    </script>
    <%= yield %>
  </body>
</html>
